# VS Code settings
.vscode/

# macOS
.DS_Store
*.pem

# Dependencies
Melatonin/node_modules/

# Expo
Melatonin/.expo/
Melatonin/dist/
Melatonin/expo-env.d.ts

# Native
Melatonin/*.orig.*
Melatonin/*.jks
Melatonin/*.p8
Melatonin/*.p12
Melatonin/*.key
Melatonin/*.mobileprovision

# Metro
Melatonin/.metro-health-check*

# Debug logs
Melatonin/npm-debug.*
Melatonin/yarn-debug.*
Melatonin/yarn-error.*

# Local environment files
Melatonin/.env*
Melatonin/.env*.local

# TypeScript build info
Melatonin/*.tsbuildinfo