# VS Code settings
.vscode/

# macOS
.DS_Store
*.pem

# Dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Local environment files
.env*
.env*.local

# TypeScript build info
*.tsbuildinfo
